body {
  text-align: center;
}
h1 {
    color: black;
}
p {
  color: black;
  padding: 10px 30px;
  font-size: 20px;
}

#link {
  border: none;
  padding: 60px 128px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25px;
  color: black;
}

#five {
  padding: 0px 0px;
  text-align: right;
  text-decoration: none;
  display: inline;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(99, 99, 135);
}

svg path {
    cursor: pointer;
    
}

svg path:hover {
  fill: red;
  
}


/* rgba(89, 154, 80, 0.832) 

Code with color pallet
body {
  background-color: #599a50d4;
  text-align: center;
}
h1 {
  color: black;
  text-align: center;
}
p {
  color: black;
  text-align: center;
}

#link {
  background-color: #8B2635;
  border: none;
  color: #E0E2DB;
  padding: 60px 128px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 25px;
}*/